.redimensionar {

    object-fit: contain;
    max-width: 100%;
    height: 800px;

}

.fondo-negro {
    background-color: #000;
    /* Color negro */
}

.img-recortada {
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.nav-bar {
    width: 100%;
    /* Asegura que la barra de navegación ocupe el 100% del ancho */
}

.desktop-images {
    display: none;
    /* Ocultar por defecto en móviles */
}

.mobile-carousel {
    display: block;
    /* Mostrar por defecto en móviles */
}

@media (min-width: 768px) {

    /* Ajusta el ancho según tus necesidades */
    .desktop-images {
        display: flex;
        /* Mostrar en pantallas grandes */
    }

    .mobile-carousel {
        display: none;
        /* Ocultar en pantallas grandes */
    }
}

.ver-mas {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    text-align: center;
    /* Centrar el texto */
    display: block;
    /* Asegurar que el centrado funcione correctamente */
}

.ver-mas:hover {
    cursor: pointer;
    /* Cambiar el cursor a una manita */
}

.espacio-vertical {
    margin-bottom: 1rem;
    /* Ajusta el valor según tus necesidades */
}

